<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="BitLyLogin" value="o_5ob5bidjh9" />
    <add key="BitLyApiKey" value="R_60b7eb8220a0f4e62ae2d6432d00ff3f" />
    <add key="GoogleApiKey" value="AIzaSyCcCuucoi65qrq546rmuwVf9yjnC5PnM0w" />
  </appSettings>
</configuration>